body{ 
    margin-left: 10px;
    font-family:san-serif;
    font-size: 18px;
    background-color:#aa9da9; 
                                                                   
}
.logintble{background-color:#c2e5d8;height:375px; border:0; padding:30px 20px;margin: 40px;}